body {
	padding: 5.5em 1em 0 1em;
	margin: 0;
	height: 5em;
	background-color: #482047;
	color: white;
}

.navbar.fixed-top {
	background-color: #a3339f;
}

.nav-item {
	float: right;
}

#twitter-button {
	float: right;
}

#title {
	text-align: center;
	font-size: 4em;
}

#search-form {
	width: 90%;
	display: block;
	margin-left: auto;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: #E69CE3;
	text-decoration: none;
}

.form-control {
	width: 80%;
}

.venue {
	border-bottom: 2px dashed white;
	padding: 1.2em;
}

.venue-img {
	max-width: 100%;
	max-height: 100%;
}
#credit {
	font-size: 0.8em;
	float: right;
}
