body {
	padding: 4em;
	margin: 0;
	background-color: tomato;
}

.navbar.fixed-top {
	background-color: #fff;
	box-shadow: 
}

main {
	text-align: center;
}

#title {
	color: white;
	font-size: 5em;
}

#win-adder-wrapper, #nav {
	float: right;
}

.grid-item {
	padding: 20px 5px 5px 5px;
	max-width: 30%;
	background-color: #fff;
	margin: 10px;
}

.grid-item img {
	max-width: 95%
}

#grid-sizer {
	width: 33.3333333333333%;
}

.like-btn {
	display: none;
}

.like-btn + label:hover, .like-btn + label:hover {
	color: rgb(187, 209, 236);
}

.like-btn:checked + label {
	color: rgb(157, 239, 228);
}

.modal.show {
	display: block;
}

.modal {
	background-color: rgb(0, 0, 0, 0.8);
	overflow-y: auto;
}

.modal img {
	max-width: 85%;
}

.modal-body {
	text-align: center;
}

#credit {
	font-size: 0.8em;
	float: right;
}
